
* {
  margin: 5px;
}

.card {
  border: 2px solid black;
  padding: 4px;
  display: flex;
  flex-direction: row;
}



.negrita {
  font-weight: 700;
}

p {
  margin: 0;
}

.credit-card {
  border-radius: 10px;
  width: 250px;
}

.card-image {
  height: 60px;
  margin-right: 5px;
  width: fit-content;
}

.expire-bank {
  display: flex;
  flex-direction: row;
}